.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.apptitle {
  margin: 1rem 0;
 
}

.todolist {
  padding-left: 0;

  .todoitem {
    position: relative;
    margin-bottom: 0.25rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-top: 1px solid #ccc;
    
    
      .form-check-label {
        color: #999;
      text-decoration: line-through;
      }
    

    .highlight {
      border-color: #ff2968;
      background-color: #ff8fb0;
      
      
        border-color: #ff2968;
      
    }
    last-child {
      border-bottom: 1px solid #ccc;
      border-color: #ff2968;
    }
    
    .btn-danger {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
    
    .form-check-label {
      width: 100%;
      

      .form-check-input {
        margin-right: 1rem;
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px #808080;
  

  }

  nav,li, ul{
    text-decoration: none;
  }
  a {
    text-decoration: none;
      flex-grow: 1;
      text-align: center;
      color: white;
      background-color: white;
      padding: 15px 20px ;
;
      
     
          color: white;
          background-color: #333;
      }



.navbar a:hover {
background: #f1f1f1;
color: black;

}

.navbar a.active {
color: white;
background-color: #333;
display: flex;
justify-content: space-around;
flex-direction: column;
border-radius: 4px;
overflow: hidden;
box-shadow: 0 2px 8px #808080;


}
